# Environment variables
.env

# Virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Distribution / Packaging
*.egg-info/
build/
dist/

# Project Data (Local storage)
data/

# Logs
logs/
*.log

# Mac OS
.DS_Store

# IDEs
.vscode/
.idea/